@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');


*{
    font-family: 'Noto Sans TC', sans-serif, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;;
}

body{
    background-color: #28D48C;
    /* background-color: #F25B57; */

    background-size: 20px 20px;
    background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
}

.container{
    position: relative;
    width: 90vw;
    max-width: 800px;
    margin: auto;
}

.box{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 36px;
    /* color: white; */
    text-align: center;
    border: 6px solid #000000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    
}

.title{
    position: relative;
    font-size: 3.8rem;
    margin-bottom: 40px;
    /* text-shadow: 8px 8px 0 #FFFFFF; */
    z-index: 0;
}

.title::before{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 70%;
    height: 3rem;
    background-color: #FFF;
    z-index: -1;
}

.title::after{
    content: "";
    display: block;
    position: absolute;
    right: -8px;
    bottom: -8px;
    width: 70%;
    height: 3rem;
    background-color: #000;
    z-index: -2;
}

.title .text{
    position: relative;
    mix-blend-mode: difference;
    text-shadow: 6px 6px 0 #FFF;
    z-index: 2;
}

.shadow{
    filter: drop-shadow(8px 8px 0 #FFFFFF);
}

.blackBack{
    position: relative;
    background-color: #000;
    color: white;
    width: 85%;
    margin: auto;
    padding: 1rem;
    margin-top: 2rem;
}

.blackBack ul{
    position: relative;
    display: inline-block;
    width: max-content;
    max-width: 100%;
    padding-left: 1rem;
}

.blackBack ul li{
    text-align: left;
}

.enterBox{
    /* display: flex; */
    background-color: rgb(255, 255, 50);
    /* background-color: rgb(64, 50, 255); */
    border: 3px solid #000;
    border-radius: 8px;
    padding: 0.5rem;
    margin-bottom: 2rem;
}

.enterBox div{
    display: flex;
    justify-content: center;
}

.enterBox div input{
    flex: 1;
    outline: none;
    border: none;
    font-size: 1rem;
    margin-left: 0.5rem;
    height: 2.5rem;
    border-radius: 4px;
    padding: 0 0.5rem;
    width: 0;
}

.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000;
    color: white;
    color: white;
    font-weight: 900;
    padding: 0 1rem;
    border-radius: 8px;
    margin-left: 1rem;
    cursor: pointer;
    user-select: none;
}

.btn.btn-confirm{
    border-radius: 0;
    transform: skew(-15deg, 0);
    background-color: #28D48C;
    color: #000;
}

.btn.btn-cancel{
    border-radius: 0;
    transform: skew(-15deg, 0);
    background-color: red;
}

.eventWay{
    position: relative;
    border: 4px solid black;
    border-radius: 4px;
    background-color: white;
    width: 85%;
    margin: auto;
    padding: 0.5rem;
    margin-top: 4rem;
}

.eventWay h2{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    background-color: #000;
    border-radius: 12px;
    color: #FFF;
    padding: 0.5rem 2rem;
    width: 70%;
}

.infoBox{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid black;
    background-color: white;
    padding: 1rem 2rem;
    width: 100vw;
}

.allBlackBack{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
}

/* 
.infoBox::before{
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
} 
*/

#checkWindow{
    display: none;
}

#checkWindow.active{
    display: block;
}

.floating{
    position: absolute;
    display: block;
    background: repeating-linear-gradient(45deg, black, black 4px, transparent 4px, transparent 10px);    ;
    width: 30%;
    height: 3rem;
    top: 22rem;
    left: 0;
    z-index: -1;
}

.floating::before{
    content: "";
    position: absolute;
    display: block;
    background: repeating-linear-gradient(45deg, white, white 4px, transparent 4px, transparent 10px);    ;
    width: 100%;
    height: 3rem;
    top: -4px;
    left: -7px;
}